<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Welcome WebEditor</title>
		<link href="/css/style.css" rel="stylesheet" type="text/css" />
		<link href="/css/page.css" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<h1>文件列表 FILES</h1>
		<h2>------------------------------------------------------</h2>
		<div class="list-sheet">
			<table
				border="0"
			>
				<tr class="title">
					<th>序号</th>
					<th>文件名</th>
					<th>更新时间</th>
					<th>操作</th>
				</tr>
			</table>
		</div>
		
		<script src="/js/axios.min.js"></script>
		<script src="/js/jquery.min.js"></script>
		<script src="/js/view.js"></script>
	</body>
</html>
